body,
h1,
h2,
p,
div,
a,
header,
article {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #fff;
    background-color: #121212;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: flex-start;
    align-items: center;
    max-width: 1080px;
    margin: auto;
    min-height: 100vh;
}

a,
a:visited {
    color: #fff;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 95%;
}

header {
    align-self: flex-start;
    text-align: center;
    margin: 24px 16px 16px;
}

header h1 {
    font-size: 2.5rem;
    color: #fff;
    border-bottom: 2px solid #ffffff;
    display: inline-block;
    padding-bottom: 4px;
}

header a {
    text-decoration: none;
}

article {
    background-color: #1f1f1f;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
    padding: 6px 24px 30px;
    width: 100%;
    margin: 4px;
    text-align: left;
}

select {
    border: 1px solid #fff;
    border-radius: 1rem;
    background: rgba(0, 0, 0, 0);
    color: #fff;
    margin: 0.1rem;
    padding: 0.2rem;
    height: 1.5rem;
    max-width: min(48vw, 24rem);
}

option {
    color: #fff;
    background: #111;
    max-width: min(48vw, 24rem);
}

button {
    border: 1px solid #fff;
    border-radius: 1rem;
    background: #fff;
    color: #000;
    margin: 0.1rem;
    padding: 0.1rem 0.6rem;
    height: 1.5rem;
    max-width: 36vw;
}

.h2 h2 {
    font-size: 1.8rem;
    color: #fff;
    border-left: 4px solid #fff;
    padding-left: 10px;
    margin: 24px 0 18px;
}

h3 {
    margin: 12px 2px 6px;

}

p {
    margin: 8px 4px 6px;
}

.p p {
    font-size: 1.2rem;
    color: #ccc;
}


#menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#menu div a {
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    color: #121212;
    background-color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    text-align: center;
}

#menu div a:hover {
    background-color: #e0e0e0;
    color: #000;
    transform: scale(1.04);
}


.comment {
    margin-top: 30px;
    font-size: 1rem;
    color: #aaa;
}

article div {
    margin: 0 0 18px;
}

/* 結果表示画面 */

#back,
#result,
#error {
    display: none;
}

#similarity-block,
#back {
    margin: 0.2rem 0.4rem;
}

#result-song1,
#result-song2,
#song1-info ,
#song2-info ,
.result-song {
    background-color: #333;
    padding: 0.8rem 0.8rem 0.6rem;
    margin: 0.6rem 0;
    border-radius: 0.4rem;
}

div.result-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0 1rem;
}

.result-song {
    width: calc(50% - 0.5rem);
    min-width: min(100%, 480px);
}

#result-song1 div,
#result-song2 div,
#song1-info div ,
#song2-info div ,
.result-song div {
    margin: 0;
}

#result .head {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin: 0;
}

.title {
    font-size: 1.2rem;
    max-width: 60%;
    margin: 0;
}

.slash {
    padding: 0.2rem;
}

.artist {
    margin-right: 0.2rem;
}

.chord-block {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin: 0.2rem 0;
}

.progression {
    font-size: 1.2rem;
}

.key {
    margin-left: 0.8rem;
}

.rank-block {
    /* display: flex; */
    margin: 0.2rem 0;
}

hr {
    color: #ccc;
}

.similarity {
    display: inline;
    color: #fff;
    border-radius: 3px;
    font-size: 1.1rem;
    font-weight: 600;
}

@media (max-width: 960px) {
    header h1 {
        font-size: 2rem;
    }

    .h2 h2 {
        font-size: 1.5rem;
    }

    .p p {
        font-size: 1rem;
    }

    #menu div a {
        font-size: 1rem;
    }
}